*{
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  padding:0;
  padding-bottom:4rem;
  background:#624933;
}


button {
  cursor: pointer;
}

ul{
  padding:0;
  margin:0;
  list-style: none;
}

p{
  margin:0;
}

.header{
  /*border-bottom: solid 7px #eeca48;*/
  display: flex;
}

.header img{
  width:100%;
}

.directions{
  background:#eeca48;
  text-align: center;
  padding:10px;
  font-weight:bold;
  color:#624933;
}

.score{
  color: beige;
  display: flex;
  margin: 30px 0;
  flex-direction: column;
  text-align: center;
}

.image-list{
  display:flex;
  flex-wrap:wrap;
  gap:25px;
  justify-content: center;
}

.image-list li{
  width:250px;
  height:250px;
  overflow:hidden;
  padding:10px;
  background:#eeca48;
  display:flex;
}

.image-list li img{
  width:100%;
  object-fit: cover;
}